html {
    min-height: 100%;
}

body {
    font-family: "Microsoft JhengHei", Arial, SimSun, sans-serif;
    background: linear-gradient(90deg, #b9c3c9, #dac4cd);
}

section {
    min-width: 450px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -225px;
    border-top: 5px solid #5c5d5e;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 50px rgba(0,0,0,.1);
}

section h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(255,255,255,.3);
}

div#list {
    padding: 20px 25px;
}

input#txt {
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    font-size: 1.5em;
    background-color: inherit;
    border-bottom: 2px solid #5c5d5e;
    margin-bottom: 10px;
}

input#txt:hover {
    background-color: rgba(255,255,255,.5);
}

input#txt:focus {
    outline: none;
}

div#list h2 {
    margin: 0;
    padding: 15px 10px 10px;
}

div#list ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5em;
    line-height: 40px;
}

div#list input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

div#list ul li {
    position: relative;
}

div#list ul li:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.3);
}

div#list ul li label {
    display: block;
    padding-right: 70px;
    padding-left: 40px;
}

div#list ul li label:before {
    font-family: "FontAwesome";
    position: absolute;
    left: 10px;
    content: "\f096";
}

div#list ul li label:hover {
    cursor: pointer;
}

div#list ul li input:checked+label {
    text-decoration: line-through;
}

div#list ul li input:checked+label:before {
    content: "\f046";
    display: inline-block;
    text-decoration: none;
}

div#list ul li i {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 35px;
    line-height: inherit;
    text-align: center;
}

i.fa-clock-o {
    right: 35px;
}

i.fa-times {
    right: 0;
}

div#list ul li:hover i {
    visibility: visible;
}

i:hover {
    background-color: rgba(255,255,255,.5);
}

/* counter */
div#list {
    counter-reset: todo done;
}

ul#todo-list li {
    counter-increment: todo;
}

ul#done-list li {
    counter-increment: done;
}

ul#todo-list:after {
    content: counter(todo);
}

ul#done-list:after {
    content: counter(done);
}

ul#todo-list:after, ul#done-list:after {
    position: absolute;
    top: -45px;
    right: 10px;
}

/* tomato */
section#pomodoro div {
    width: 360px;
    margin: auto;
    position: relative;
    font-size: 1.5em;
}

section#pomodoro div p {
    margin: 0;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

p#count-down {
    position: absolute;
    top: 180px;
    left: 180px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-size: 100px;
    font-weight: 100;
    font-family: "Segoe UI Light";
}

section#pomodoro input#plan-time {
    display: inline;
    width: 2em;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid #5c5d5e;
    text-align: center;
    font-size: inherit;
}

input#plan-time:focus, input#work:focus{
    outline: none;
}

p#current {
    text-align: center;
    font-size: 1.5em;
}

section#pomodoro input[type="button"] {
    display: block;
    margin: 25px auto;
    padding: 5px;
    font-family: inherit;
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgba(255,255,255,.6);
    border-radius: 10px;
    border: none;
}

input#work {
    width: 60%;
}

input#back {
    width: 40%;
}

section#task, section#prmodoro {
    transition: all .5s;
}

.off {
    opacity: 0;
    z-index: 1;
}

.on {
    opacity: 1;
    z-index: 10;
}